body {
    margin: 0;
}

#generation {
    color: #ffffff;
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
    display:block;
}

#population {
    color: #ffffff;
	position: absolute;
	top: 30px;
	width: 100%;
	text-align: center;
	z-index: 100;
    display:block;
}

html, body {
	width:  100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	display: block;
  }